/* start rouls  */
body {
  font-family: 'Roboto', sans-serif;
  
}
:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellwo-color: #ffc400;
  --section-color: #eff7fa;
}
.text-yellow{
  color: #ffc400;
}
.text-green{
  color: #33d1cc;
}
* {
  text-transform: capitalize;
}
/* the title for many section  */
.main-com {
  position: relative;
}
.main-com .main-title-p::after {
  position: absolute;
  content: "";
  width: 130px;
  height: 2px;
  background-color: var(--green-color);
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
/* end rouls */
/* strat nav bar */
.navbar {
  background-color: var(--dark-color);
  top: -1px;
}
.navbar button {
  color: #fff;
}
.navbar button:focus {
  box-shadow: none;
}
.navbar .nav-left ul li a {
  color: #fff;
}
.navbar .nav-left ul li a.active,
.navbar .nav-left ul li a:focus,
.navbar .nav-left ul li a:hover {
  color: var(--green-color);
}
.navbar .nav-left .icon {
  color: var(--green-color);
  border-left: 1px solid var(--green-color);
}
.main-ptn a,
.main-ptn a:focus,
.main-ptn a:active,
.main-ptn a:hover {
  background-color: var(--red-color);
  border: none;
  box-shadow: none;
  color: var(--yellwo-color);
}
/* end nav bar */
/* start lnding */
.landing {
  background-color: var(--dark-color);
  height: calc(100vh - 72px);
}
/* end lnding */
/* start skills section */
.skills .skills-info .icon-holder {
  height: 200px;
}
.skills .skills-info .icon-holder svg {
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.skills .skills-info .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.skills .skills-info .icon-holder .icon {
  color: var(--green-color);
}
.skills .skills-info h3 {
  color: var(--yellwo-color);
}
/* end skills section */
/* start section our work */
.our-work {
  background-color: var(--section-color);
}
.our-work .work-link li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work .work-link li.active {
  background-color: var(--red-color);
}
.our-work .work-link li:not(:active):hover {
  color: var(--red-color);
}
.our-work .box {
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative;
}
.our-work .box img {
  padding: 3px;
  background-color: #fff;
}
/* end section our work */
/* start stuff section */

.stuff p.main-title-p {
  max-width: 500px;
}

/* end stuff section */
/* start team section */
.team {
  background-color: var(--section-color);
}
.team .team-text .head-one{
  color: var(--yellwo-color);
}
.team .team-box .team-img-text h3{
  background-color: var(--green-color);
}
/* end team section */
/* start project section */
.project{
  background-color: var(--dark-color);
}
/* end project section */
/* start test section */
.blog .head-blog .main-title-p::after{
  bottom: -1rem;

}
.blog .blog-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* end test section */
/* start suscribe section */
.suscreibe{
  background-color: var(--yellwo-color);
}
.suscreibe .input input{
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0.5rem 1rem;
  color: #fff;
}
.suscreibe .input ::placeholder{
  color:#fff;
}
.suscreibe .input input:focus{
  outline: none;
}
.suscreibe .sub-btn {
  background-color: var(--dark-color);
  color: var(--yellwo-color);
}
/* end suscribe section */
/* start footer */
.footer{
  background-color: var(--dark-color);
}
.footer .foot-link ul li{
  margin: 1rem 0;
}
.footer .foot-icon svg:first-child{
color: #1877f2;
}
.footer .foot-icon svg:nth-child(2){
color: #ff0000;
}
.footer .foot-icon svg:nth-child(3){
color: #1da1f2;
}
.footer .foot-icon svg:nth-child(4){
color: #0077b5;
}
.footer .foot-icon svg{
  cursor: pointer;
}
/* end footer */